/* Cursor Loading Styles */
/*-----------------------*/
.cursor-loading {
  position: fixed;
  z-index: 6000;
  transform: translate(25%, -100%);
  height: 1.25rem;
  width: 1.25rem;
  border: 0.25rem solid;
  border-color: hsl(var(--light-color)) hsl(var(--main-color-one))
    hsl(var(--main-color-one)) hsl(var(--main-color-one));
  border-radius: 50%;
  filter: drop-shadow(0 0 0.0625rem hsla(var(--dark-color), 100%));
  animation: rotation 0.6s linear infinite;

  @media #{$max_991} {
    display: none;
  }

  @keyframes rotation {
    0% {
      transform: translate(25%, -100%) rotate(0deg);
    }
    100% {
      transform: translate(25%, -100%) rotate(360deg);
    }
  }
}
