/*********************************************************************************************
** Table of Contents:                                                                       **
**********************************************************************************************

Project:    Hasob - HTML Portfolio Template
Version:    1.0.0
Created:    12/2022

1.  Color Codes
    ------------------------------
    1.  Primary Color
    2.  Secondary Color
    3.  Light Color
    4.  Dark Color
    5.  Success Color
    6.  Danger Color
    7.  Warning Color
    8.  Info Color
    ------------------------------

2.  Buttons Styles
    ------------------------------

3.  Animations
    ------------------------------
    1.  Fade Effects
    2.  Spinner Effects
    3.  Slide Effects
    ------------------------------

4.  Global & Reset Styles
    ------------------------------

5.  UI Styles
    ------------------------------
    1.  Forms
    2.  Applications Window
    ------------------------------

6.  Components Styles
    ------------------------------
    1.  Custom Scrollbar
    2.  Toast Notifications
    3.  Confirm Window
    4.  Cursor Loading
    5.  Preloader
    6.  Login Screen
    7.  Desktop
    8.  Taskbar
    9.  Start Menu
    10. Email Window
    11. Calendar
    ------------------------------

*********************************************************************************************/
